footer {
  background-color: #111;
}

footer .footer {
  max-width: 1376px;
  margin: 0 auto;
  padding: 100px 32px;
  color: #fff;
}

footer .footer > div {
  margin: 0;
  max-width: none;
  padding: 0;
}

footer .footer p {
  margin: 0 0 8px;
  font-family: var(--body-font-family);
  font-size: 12px;
  color: rgba(255 255 255 / 40%);
  line-height: 1.5;
}

footer .footer a {
  color: rgba(255 255 255 / 50%);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

footer .footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

footer .footer ul li {
  font-family: var(--body-font-family);
  font-size: 14px;
  font-weight: 400;
}
